---
import { navLinks } from "../data";
import { siteName } from "../config";
---

<header class="header box z-50">
  <button id="menu-button">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="2"
      stroke="white"
      class="size-7"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
    </svg>
  </button>

  <div class="z-50 hidden cursor-pointer items-center gap-2 sm:flex">
    <a href="/"> <img src="logo.png" alt="logo" class="w-56" /></a>
    <!-- <p class="text-2xl text-white">{siteName}</p> -->
  </div>

  <div class="flex gap-5">
    <a href="https://app.vertexoption.com/user/login.php" class="btn btn-login"
      >Login</a
    >
    <a
      href="https://app.vertexoption.com/user/register.php"
      class="btn btn-register">Register</a
    >
  </div>
</header>

<!-- Fullscreen Navigation Menu -->
<div
  id="fullscreen-menu"
  class="invisible fixed inset-0 z-40 bg-[#01051E] text-white opacity-0 transition-all duration-500 ease-in-out"
>
  <div class="nav flex flex-col gap-20 pl-[45px] pt-10">
    <p id="close-menu" class="w-fit cursor-pointer text-2xl font-bold">✕</p>

    <div class="flex flex-col gap-5 text-xl md:gap-10 md:text-3xl">
      {
        navLinks.map((link) => (
          <a href={link.href} class="hover:text-gray-300">
            {link.name}
          </a>
        ))
      }
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const menu = document.getElementById("fullscreen-menu");
    const menuButton = document.getElementById("menu-button");
    const closeButton = document.getElementById("close-menu");

    if (menu && menuButton && closeButton) {
      menuButton.addEventListener("click", () => {
        menu.classList.toggle("opacity-0");
        menu.classList.toggle("invisible");
      });

      closeButton.addEventListener("click", () => {
        menu.classList.add("opacity-0");
        menu.classList.add("invisible");
      });
    }
  });
</script>
